<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Pizza Menu:</h1>

    <table>
        <thead>
            <tr>
                <th>Назва</th>
                <th>Інгредієнти</th>
                <th>Ціна</th>
            </tr>
        </thead>
        <tbody>
            {% for pizza in pizza2 %}
            <tr>
                <td>{{ pizza.name }}</td>
                <td>{{ pizza.ingredients }}</td>
                <td>{{ pizza.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/" id="backLink">Повернутись</a>
</body>
</html>